
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:ital,wght@0,400;0,500;1,600&family=Oswald&family=Roboto:wght@300&display=swap');


* {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    Text-rendering: optimizeLegibility;
}

body{
    margin: 0;
    padding: 0;
    background-color: #282b30;
}

li , a{
    text-decoration: none;
    list-style: none;
    position: absolute;
}

section{
    width: 100%;
    height: auto;
}


nav > *{
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #36393e;
    justify-content: space-between;
    align-items: stretch;
}

.navContent, .userInteraction{
    justify-content: space-around;
    align-self: center;
    display: flex;
}

.navBtn{
    margin: 1rem auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    color: white;
}

.navBtn:hover{
    padding: 5rem auto;
    background-color: #424549;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.userInteraction > *{
    justify-content: end;
    position: relative;
    display: flex;
    padding: 10px 10px 10px 10px;
    font-size: 1.5rem;
    color: white;
}

.searchBtn, .favBtn, .userBtn{
    margin: 0.5rem auto;
}

.searchBtn:hover, .favBtn:hover, .userBtn:hover{
    padding: 10px 10px 10px 10px;
    background-color: #424549;
    cursor: pointer;
}

.svg{
    fill: white;
}

.mainContent{
    height: auto;
    width: 100%;
}

.arrowBtn{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 2;
}

#arrowNav{
    transform: rotate(-180deg);
    cursor: pointer;
}

#arrowNav2{
    margin: 14rem auto;
    padding-left: 60rem;
    cursor: pointer;
    position: relative;
}

.carousel{
    height: 35rem;
    width: 100%;
    display: flex;
    position: static;
    background-color: red;
    position: relative;
    overflow-x: hidden;
}

#carousselPosition{
    justify-content: space-between;
    overflow-y: hidden;
    display: flex;
}

.picture{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.picture2{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-left: 2000px;
}

.picture3{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-left: 4000px;
}

.picture4{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    padding-left: 19rem;
    margin-left: 6000px;
    color: white;
}

.title{
    width: 100%;
    margin-top: 8rem;
    margin-left: -40rem;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
}

.desc{
    width: 100%;
    font-style: bold;
    font-size: 1.1rem;
    margin: 1rem auto;
    position: absolute;
    text-align: center;
}

.btn{
    height: 40px;
    width: 150px;
    text-align: center;
    margin: 7rem auto;
    background-color: black;
}

#picture-slide{
    height: 90%;
    width: auto;
    margin:  1.5rem auto;
}

.animeTitleBtn{
    margin: 0 auto;
    margin-top: -25rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
}

.animeTitileBlock:hover{
    transition: 0.5s;
    background-color: #3a3a3a;
}

.animeTitileBlock{
    cursor: pointer;
    margin: 0 1rem;
    height: 60px;
    width: 185px;
    background-color: #424549;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif
}
